---
title: "Tags"
layout: default
permalink: "/tags.html"
---

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="font-weight-bold title h6 text-uppercase mb-4">Tags</h1>
      
      <ul>
        {% for tag in site.tags %}
          <li>
            <a href="{{ site.baseurl }}/tag/?name={{ tag[0] | url_encode }}">
              {{ tag[0] }} ({{ tag[1].size }})
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-4">
      {% include sidebar-featured.html %}
    </div>
  </div>
</div>
