<!-- <div class="sticky-top sticky-top-offset"> -->
<div>
    <h4 class="font-weight-bold spanborder mt-5"><span>All Tags</span></h4>
    <div class="tag-cloud">
      {% assign tags = site.tags %}
      {% assign tag_data = "" | split: "" %}

      {% for tag in tags %}
        {% assign tag_name = tag[0] %}
        {% assign tag_count = tag[1].size %}
        {% assign entry = tag_count | append: "||" | append: tag_name %}
        {% assign tag_data = tag_data | push: entry %}
      {% endfor %}

      {% assign sorted_tag_data = tag_data | sort | reverse %}
      {% assign top_tags = sorted_tag_data | slice: 0, 10 %}

      {% for item in top_tags %}
        {% assign parts = item | split: "||" %}
        {% assign tag_count = parts[0] %}
        {% assign tag_name = parts[1] %}
        <a class="btn btn-sm btn-outline-secondary m-1" href="{{ site.baseurl }}/tag/?name={{ tag_name | url_encode }}">
          {{ tag_name }}
        </a>
      {% endfor %}
    </div>
</div> 